body {
    /* background-color: lightgoldenrodyellow; */
    background-image: url("../images/old-paper.jpeg");
    color: white;
}

.logo {
    width: 60vh;
}

#about-us {
    text-align: left;
    padding-left: 15%;
}

hr {
    height: 2px;
    width: 80%;
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}

